<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %logger{2} (%F:%L) - %m%n" />
			<!-- value="%d{ISO8601} %-5p (%t) [%c(%M:%L)] %m%n" /> -->
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="maxFileSize" value="100MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="file" value="../logs/log4j_KeplerBPA.log" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p (%t) [%c(%M:%L)] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<!-- <appender-ref ref="file" /> -->
	</root>

</log4j:configuration>
